/.gradle/
/local.properties
/.idea/
.DS_Store
/build/
*.hprof
Screenshot*.png
ScreenRecord*.mp4
device*.png
device*.mp4
*.apk
/gradle/
/app/signing/release.gradle
google-services.json
/app/release/output.json
*.iml
gradlew